.home-card{
    min-width: 190px;
    width: 50%;
}

.home-card:hover{
    cursor: pointer;
    opacity: 70%;
}

.controls-and-carrusel{
    display: flex;
}
  
.carrusel-img{  
    width: 80vw;
    height: 60vh;

    border: 1px solid black;
}