@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

html {
  background-color: #133EAA;
  font-family: "Funnel Display";
}

body {
  margin: 0;
  padding-top: 100px;
  min-width: 320px;
  min-height: 100vh;
  width: 95vw;
}

@media(max-width: 390px){
  body{
    padding-top: 80px;
  }
}

main{
  min-height: 90vh;
  padding-left: 20px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  color: white;
  font-family: "Funnel Display";
  margin: 0;
}

a{
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: #cccccc;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, textarea{
  font-family: "Funnel Display";
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  padding: 12px;
  width: 100%;
  background-color: white;
}

select, .form button {
  width: 100%;
}

button {
  font-family: "Funnel Display";
  background-color: #1d33fc;
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  text-align: center;
  font-size: 16px;
  color: white;
}

button:hover{
  cursor: pointer;
  background-color: #2a42ff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 25px;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
}

.modal-content p{
  color: black;
}

.close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}